header {
    margin-bottom: 100px;
}

html, body {
    height: 100%;
    margin: 0;
  }

  footer {
    margin-top: auto;
  }

  .MuiGrid-root {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .MuiBox-root img{
    width: 268px;
  height: 268px;
  object-fit: cover; 
  }
  